<form method="POST" action="\credit">
    <br>
  <input class="form-control" type="text"  value="<%=session[:identity]%>" name="element[user]">
  <%=params['amount']%></input>
  <div class="form-group">
    <label for="exampleFormControlInput1">Сума витрат</label>
    <input type="input" class="form-control" id="exampleFormControlInput1" placeholder="00.00" name="element[amount]">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Стаття витрат</label>
    <select class="form-control" id="exampleFormControlSelect1" name="element[category_credit]">
      <option>Побут</option>
      <option>Їжа</option>
      <option>Одяг</option>
      <option>Відпочинок</option>
      <option>Майно</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Коментар</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="element[comment]"></textarea>
  </div>

  <div class="form-group">
  <button type="submit" class="btn btn-primary mb-2">Додати</button>
  </div>
</form>